<script lang="ts">
	import { debounce } from '$lib/utils';
	import { powerStore } from '$lib/stores';
	import {} from '$lib/connector';
	const min = 0;
	const max = 100;
	let power = 50;

	const changePowerStore = () => {
		powerStore.set(power);
	};

	powerStore.subscribe((value) => (power = value));

	const registerPowerChange = debounce(() => changePowerStore(), 500);
</script>

<div class="card">
	<p class="label">Мощность:</p>
	<p class="big-number">{power}%</p>
	<input type="range" {min} {max} bind:value={power} on:change={registerPowerChange} />
</div>

<style>
	.label {
		align-self: center;
		font-size: 25px;
		margin: 0;
	}
	.big-number {
		align-self: center;
		font-size: 100px;
		margin: 0;
	}
	.card {
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 300px;
		height: 300px;
		border: solid #8888 2px;
		padding: 8px;
		border-radius: 4px;
		font-family: sans-serif;
	}
</style>
